<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кредиты</title>
    <meta name="description" content="Описание страницы" />

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="icon" href="/img/favicon.png">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<header>


</header>
<main>
    <form method="get" th:action="@{/credits/all}">
        <div>
            <button>Назад</button>
        </div>
    </form>
    <h3>Информация о кредите </h3>
    <table border="1">
        <tr>
            <th>Вид кредита</th>
            <th>Минимальная сумма</th>
            <th>Максимальная сумма</th>
            <th>Минимальный срок в месяцах</th>
            <th>Максимальный срок в месяцах</th>
            <th>Процентная ставка (годовая)</th>
        </tr>
        <tr th:each = "credit : ${credits}">
            <th th:text="${credit.vid}"></th>
            <th th:text="${credit.minSum}"></th>
            <th th:text="${credit.maxSum}"></th>
            <th th:text="${credit.minDate}"></th>
            <th th:text="${credit.maxDate}"></th>
            <th th:text="${credit.procent}"></th>
        </tr>
    </table>

    <h3>Выберите кредит </h3>
    <form method="post" th:object="${req}">
        <div th:each="creditV : ${credits}">
            <input th:field="*{credit}" type = "radio" th:value = "${creditV.id}"/>
            <span th:text="${creditV.vid}"></span><br>
        </div>
        <div>
            <h3>Введите сумму</h3>
            <input type = "text" th:field="*{sum}"/>
            <h3>Введите срок</h3>
            <input type = "text" th:field="*{date}"/>
        </div>
        <div>
            <button>Продолжить</button>
        </div>
    </form>


</main>
<aside>

</aside>
<footer>

</footer>
</body>
</html>