<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кредиты</title>
    <meta name="description" content="Описание страницы" />

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="icon" href="/img/favicon.png">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<header>


</header>
<main>
    <form method="get" th:action="@{/logout}" id="reg">
        <input type="submit" value="Выйти"/>
    </form>

    <h3>Список всех ваших заявок </h3>
    <table border="1">
        <tr>
            <th>Вид кредита</th>
            <th>Сумма кредита</th>
            <th>Срок в месяцах</th>
            <th>Статус заявки</th>
        </tr>
        <tr th:each = "credit : ${creditsUser}">
            <th th:text="${credit.credit}"></th>
            <th th:text="${credit.sum}"></th>
            <th th:text="${credit.date}"></th>
            <th th:text="${credit.status}"></th>
        </tr>
    </table>
    <form method="get" th:action="@{/credits/new}" id="newCredit">
        <input type="submit" value="Создать новую заявку"/>
    </form>



</main>
<aside>

</aside>
<footer>

</footer>
</body>
</html>