<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кредиты</title>
    <meta name="description" content="Описание страницы" />

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="icon" href="/img/favicon.png">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<header>


</header>
<main>
    <form method="get" th:action="@{/logout}" id="reg">
        <input type="submit" value="Выйти"/>
    </form>
    <h3>Список всех заявок </h3>
    <table border="1">
        <tr>
            <th>Номер заявки</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Номер телефона</th>
            <th>Электронная почта</th>
            <th>Вид кредита</th>
            <th>Сумма кредита</th>
            <th>Срок в месяцах</th>
            <th>Статус заявки</th>
            <th>Налог</th>
        </tr>
        <tr th:each = "credit : ${credits}">
            <th th:text="${credit.Id}"></th>
            <th th:text="${credit.lastName}"></th>
            <th th:text="${credit.firstName}"></th>
            <th th:text="${credit.patron}"></th>
            <th th:text="${credit.nomer}"></th>
            <th th:text="${credit.eMail}"></th>
            <th th:text="${credit.credit}"></th>
            <th th:text="${credit.sum}"></th>
            <th th:text="${credit.date}"></th>
            <th th:text="${credit.status}"></th>
            <th th:text="${credit.nalog}"></th>
        </tr>
    </table>
    <form method="get" th:action="@{/allrequest/send}">
        <div>
            <button>Отправить запрос </button>
        </div>
    </form>


</main>
<aside>

</aside>
<footer>

</footer>
</body>
</html>