<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кредиты</title>
    <meta name="description" content="Описание страницы" />

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="icon" href="/img/favicon.png">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<header>


</header>
<main>
    <h3>График платежей </h3>
    <table border="1">
        <tr>
            <th>Дата платежа</th>
            <th>Сумма</th>
        </tr>
        <tr th:each = "grafic : ${shedule}">
            <th th:text="${grafic.date}"></th>
            <th th:text="${grafic.summ}"></th>
        </tr>
    </table>


    <form method="get" th:action="@{/credits/new}">
        <div>
            <button>Назад</button>
        </div>
    </form>
    <form method="post">
        <div>
            <button>Продолжить</button>
        </div>
    </form>


</main>
<aside>

</aside>
<footer>

</footer>
</body>
</html>